@charset "UTF-8";

@font-face {
    font-family: 'title';
    src: url(Coffee\ Extra.ttf);
}

*{
    margin: 5px;
}

body{
    background-color: lightcyan;
}

h1{
    text-align: center;
    margin: 10px 0 0 0;
    font-family: 'title', sans-serif;
    font-size: 4vw;
    color: magenta;
    font-weight: lighter;
}

#container{
    width: 450px;
    height: 450px;
    background-color: rgb(255, 255, 203);
    border: 15px groove magenta;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
}

#container div{
    box-sizing: border-box;
    border: 1px solid rgba(250, 128, 114, 0.295);
    margin: 0;
}

#container div:hover{
    background-color: lightgray;
}

#btncontainer{
    display: flex;
    justify-content: center;
}


#btnResize,
#btnClear{
    width: 235px;
    height: 45px;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    background-color: #f8f899;
    font-family: 'title';
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 152, 255);
    margin-bottom: 0;
}

#btnResize:hover,
#btnClear:hover{
    background-color: rgb(189, 189, 118);
}
