@charset "UTF-8";

*{
    margin: 5px;
}

#container{
    width: 500px;
    height: 500px;
    border: 5px solid rgb(0, 0, 0);
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#container div{
    box-sizing: border-box;
    border: 1px solid rgba(250, 128, 114, 0.295);
    margin: 0;
}

#container div:hover{
    background-color: lightgray;
}

#btncontainer{
    display: flex;
    justify-content: center;
}

#btnClear{
    width: 90px;
    height: 45px;
}